body {
    margin: 0;
    padding: 0;
}

.auth-heading {
    text-align: center;
}

.auth-form {
    width: 350px;
    padding: 20px;
    border: 5px double #006699;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow:0 0 1px 1px ;
    
}

.auth-form:hover{
    box-shadow: 0 0 1px 1px ;
}

.auth-form-heading{
    margin-left: 11px;
}

.user-input {
    display: block;
    margin: 10px auto;
    width: 90%;
    padding: 4px 6px;
   
}

.user-input:focus , .user-input:active {
    outline-color: #006699;
    outline-width: 5px;
}

.auth-btn{
    font-size: 17px;
    margin-left: 10px;
    margin-top: 5px;
    border: none;
    background-color: #004466;
    color:white;
    border-radius: 10px;
    padding: 4px 10px;
    box-shadow: 1px 1px 1px 1px black;
    
}

.auth-btn:hover{
    background-color: #0077b3;
    color: white; 
    box-shadow: 1px 1px 1px 1px black;
    width: 85px;
}

/* .auth-link{
    text-align: center;
} */